:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 100%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    background-color: var(--very-dark-blue);
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--white);
    margin: 0 auto;
}

.card {
    background: radial-gradient(circle at top, var(--dark-blue), var(--very-dark-blue));
    width: 90%;
    max-width: 400px;
    padding: 32px;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 175px;
}

.hidden {
    display: none;
}

.star-icon {
    background-color: hsla(213, 19%, 25%, 1);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

h1, h2 { margin-bottom: 15px; }
p { color: var(--light-grey); line-height: 1.5; margin-bottom: 25px; }

.rating-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.rating-group input { display: none; }

.rating-group label {
    width: 45px;
    height: 45px;
    background-color: hsla(213, 19%, 25%, 1);
    color: var(--medium-grey);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.rating-group label:hover {
    background-color: var(--light-grey);
    color: var(--white);
}

.rating-group input:checked + label {
    background-color: var(--orange);
    color: var(--white);
}

.submit-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background-color: var(--orange);
    color: var(--white);
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover {
    background-color: var(--white);
    color: var(--orange);
}

.thank-you-state { text-align: center; }
.thank-you-img { margin-bottom: 30px; }

.selection-badge {
    background-color: hsla(213, 19%, 25%, 1);
    color: var(--orange);
    padding: 6px 15px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 30px;
}

footer {
    margin-top: 25px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: var(--orange); }
.attribution a:hover { color: rgb(206, 85, 4); }